apiVersion: apps/v1
kind: Deployment
metadata:
  name: team-service
  namespace: sports-app
  labels:
    app: team-service
spec:
  replicas: 2
  selector: #how deployment finds its pods
    matchLabels:
      app: team-service
  #template - blue print of pods
  template:
    metadata:
      labels:
        app: team-service
    spec:
      imagePullSecrets:
        - name: docker-registry-secret
      containers:
        - name: team
          image: wyckie10784/sports-app-team-service:v1.0
          imagePullPolicy: Always
          ports:
            - containerPort: 4000
              name: http
            - containerPort: 50052
              name: grpc
          env:
            - name: PORT_HTTP
              valueFrom:
                configMapKeyRef:
                  name: sportspro-configurations
                  key: TEAM_HTTP_PORT
            - name: PORT_GRPC
              valueFrom:
                configMapKeyRef:
                  name: sportspro-configurations
                  key: TEAM_GRPC_PORT
            - name: KAFKA_BROKER
              valueFrom:
                configMapKeyRef:
                  name: sportspro-configurations
                  key: KAFKA_BROKERS_URL
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: sportspro-configurations
                  key: TEAM_DB_HOST
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: sportspro-configurations
                  key: TEAM_DB_PORT
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: sportspro-configurations
                  key: TEAM_DB_NAME
            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  name: sportspro-configurations
                  key: TEAM_DB_USER
            - name: DB_SSLMODE
              valueFrom:
                configMapKeyRef:
                  name: sportspro-configurations
                  key: DB_SSLMODE
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: sports-app-secrets
                  key: TEAM_DB_PASSWORD
            - name: CORS_ALLOWED_ORIGINS
              valueFrom:
                configMapKeyRef:
                  name: sportspro-configurations
                  key: CORS_ALLOWED_ORIGINS
          #readinessProbe:
          #  httpGet:
          #    path: /healthz
          #    port: 9000
          #  initialDelaySeconds: 10
          #  periodSeconds: 5
          #livenessProbe:
          #  httpGet:
          #    path: /healthz
          #    port: 9000
          #  initialDelaySeconds: 10
          #  periodSeconds: 10
          #  failureThreshold: 3

